<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>
<body>

    <%- include('partials/_header') %>

  <main>
        <div class="jumbotron">
            <h1>Saved links:</h1>

        <ul>
            <% if (urlDatabase[templateVars.id]) { %>

              <% for(let shortUrl in urlDatabase[templateVars.id]) { %>
              <p><%= shortUrl%> : <%= urlDatabase[templateVars.id][shortUrl]%> </p>

                <form method="get" action="<%= urlDatabase[templateVars.id][shortUrl] %>"> <input type="submit" value="Go to"></form>
                <form method="get" action="/urls/<%= shortUrl %>/edit"> <input type="submit" value="edit"></form>
                <form method="POST" action="/urls/<%= shortUrl %>/delete"> <input type="submit" value= "delete"></form>
              <% }; %>
            <% } else { %>
              <h2>No links saved!</h2>
            <% }; %>
        </ul>

    <!-- Add your EJS code here -->
    <!-- list urls AND short forms -->
<!-- link for shortening URL -->

      </div>
  </main>
</body>
</html>


